extends layout

block append content
  +form_container("Register")
    form(action="/ui/register", method="post")
      +form_input("username")
      +form_checkbox("isProvider", "Are you an API provider?")
      .text-center
        button.btn.btn-primary(type="submit") Create Account
        .mt-3.form-check-label Already have an account?
          a(href='/ui/login')      Login
